<address>
<h3>Kantor Gubernur Provinsi Sulawesi Selatan</h3>
<h4>
Gedung H Lt.2 & Lt.3<br>
Jl. Urip Sumoharjo No. 269<br>
Makassar<br>
Sulawesi Selatan<br>
Telp. (0411) 449948<br></h4>
</address>