<p><%= image_tag("gearth_address.jpg")	%></p>
<address>
<h3>KANTOR GUBERNUR PROVINSI SULAWESI SELATAN - BIRO PEMERINTAHAN UMUM</h3>
<h4>
GEDUNG E LT. 2 & LT. 3<br>
JL. URIP SUMOHARJO NP. 269<br>
MAKASSAR<br>
SULAWESI SELATAN<br>
TELP. (0411) 425612<br></h4>
</address>