<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag("batas-wilayah.jpg", :alt => "Batas Wilayah") %>
      <div class="container">
        <div class="carousel-caption">
          <h3>Jumlah Penduduk</h3>
            <p class="lead">Berisikan informasi jumlah penduduk sampai ke tingkat kelurahan</p>
              <%= link_to "Selengkapnya", db_jmlh_pddks_path, :class => "btn btn-large btn-primary" %>
        </div>
      </div>         
    </div>  
    <div class="item">
      <%= image_tag("demographics.jpg") %>  
      <div class="container">
        <div class="carousel-caption">
          <h3>Data Pejabat Desa/Kecamatan</h3>
            <p class="lead">Berisikan informasi data Pejabat Desa/Kecamatan di Sulawesi Selatan</p>
              <%= link_to "Selengkapnya", post_path(2), :class => "btn btn-large btn-primary" %>
        </div>
      </div>        
    </div>                          
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div><!-- /.carousel -->
<script>
  !function ($) {
    $(function(){
      // carousel demo
      $('#myCarousel').carousel()
    })
  }(window.jQuery)
</script>