<div class="span5">
  <h2>Selamat Datang</h2>
  <div class="progress progress-info progress-striped">
    <div class="bar" style="width: 30%;"></div>
  </div>
  <p>Puji syukur kami panjatkan kehadirat Allah SWT, karena atas Berkat, Rahmat dan IzinNya-lah sehingga kami dapat menyelesaikan membangun website ini.</p>

  <p>Adapun isi dari website ini adalah mengenai Biro Pemerintahan Umum Provinsi Sulawesi Selatan, dimana didalamnya terdapat selayang pandang, data kependudukan di Provinsi Sulawesi Selatan.</p>

  <p>Dengan demikian diharapkan agar website ini merupakan salah satu sumber informasi yang dapat diandalkan dalam dunia global serta menjadikan penggerak roda ekonomi sehingga mewujudkan Visi dan Misi Provinsi Sulawesi Selatan.</p>

  <p>Semoga website ini dapat berperan serta dalam menjadikan Provinsi Sulawesi Selatan lebih baik dimasa yang akan datang.</p>
</div>
 